.headerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 98px;
    background-color: #EAEAEA;
    width: 100%;
    padding: 0px 20px 0px 20px;
    gap: 16px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#logo {
    display: flex;
    gap: 10px
}

img {
    height: 50px;
}

h1{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #0171AF;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
